<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565292639643-mro5e9glkp59gobrnugc5lin7t2u20ve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565292639643-mro5e9glkp59gobrnugc5lin7t2u20ve</string>
	<key>API_KEY</key>
	<string>AIzaSyA0WnJPU48d4d94CaLadPWuVanFPbBXu0k</string>
	<key>GCM_SENDER_ID</key>
	<string>565292639643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firstprinciplesdevelopment.lifemine</string>
	<key>PROJECT_ID</key>
	<string>life-mine-39ccb</string>
	<key>STORAGE_BUCKET</key>
	<string>life-mine-39ccb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565292639643:ios:ef2d35d49dd2af9cae6d3e</string>
</dict>
</plist>